/* GENERAL */
body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f9;
  color: #333;
}

h2, h3 {
  margin-bottom: 10px;
}

/* DASHBOARD */
.dashboard {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.card h3 {
  font-size: 24px;
  margin: 0;
  color: #007bff;
}

/* FORM */
form {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

input, select {
  padding: 8px;
  width: 200px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  background: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

/* SEARCH */
#searchInput {
  padding: 8px;
  width: 250px;
  margin-bottom: 10px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

th {
  background: #007bff;
  color: white;
  padding: 10px;
}

td {
  padding: 8px;
  text-align: center;
}

tr:hover {
  background: #f1f1f1;
}

/* PAGINATION */
.pagination {
  margin-top: 10px;
  text-align: center;
}

/* FORM CONTAINER */
.form-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-bottom: 70px;
  width: 100%;
  max-width: 100%;
}

/* GRID LAYOUT */
.form-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* 🔥 important fix */
  gap: 20px;
  width: 100%;
  max-width: 100%;
}

/* FORM GROUP */
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 13px;
  margin-bottom: 5px;
  color: #555;
}

/* INPUTS */
.form-group input,
.form-group select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.2s;
  width: 90%;
}

/* FOCUS EFFECT */
.form-group input:focus,
.form-group select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0,123,255,0.3);
}

/* SUBMIT BUTTON */
.submit-btn {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background: #0056b3;
}

.main-container {
  max-width: 1200px;   /* controls width */
  margin: 0 auto;      /* 🔥 centers content */
  padding: 20px;       /* spacing inside */
}


a {
  color: #007bff;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

@page {
  size: 4.25in 5.5in; /* 🔥 1/4 Letter */
  margin: 5mm;
}